rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and update their own profile document
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null; // Allow any authenticated user to create their profile
    }
    // Add rules for your other collections as needed
    match /events/{eventId} {
        allow read; // Allow anyone to read events
        allow create: if request.auth != null; // Allow any logged-in user to create events (restrict to admins later)
    }
  }
}